
<style>

  #appetizers{
    width: 100%;
    height: 1800px;
    padding-top: 200px;
  }

  #appetizers > h1{
    font-size: 2.5  rem;
    font-weight: 800;
    opacity: 0.76;
    text-align: center;
    text-shadow: 1px 1px 1px #666;
    text-transform: uppercase;
    display: block;
  }
  #appetizers > div{
    width: 60%;
    height: 220px;
    margin: 0 auto;
  }

  figure{
    float: left;
  }

  figure > img{
    width: 350px;
    height: 300px;
    background: #666;
    margin-top: 80px;
    margin-left: 100px;
    border-radius: 50px;
    box-shadow: #999 5px 5px 10px;
    transition: transform 0.5s ease-in-out 0.1s;
  }

  figure > img:hover{
    transform: scale(1.5);
  }

  figure > h2{
    width: 350px;
    padding-top: 20px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    /*margin-top: -100px;)*/
  }
  figure > p{
    width: 350px;
    height: 300px;
    padding-top: 20px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    text-align: center;
  }

</style>

<div id="appetizers" >
  <h1>Appetizers</h1>
  <div>
    <figure>
      <img src="assets/appetizers3.png" alt="">
      <h2>Enchiladas</h2>
      <p>
        Enchiladas are found throughout Honduras, they are normally sold and consumed
        at noon and in some places at night. But, Honduran enchiladas are different
        than the popular Mexican enchiladas. They are layered with different flavors
        and textures, making them a delicious snack or main meal.
      </p>
    </figure>
    <figure>
      <img src="assets/appetizers2.png" alt="">
      <h2>Deep Fried Platains</h2>
      <p>
        Fried plantains with beans and butter are a delicious typical Central American
        appetizer. They are consumed at dinner or breakfast, they are also usually
        accompanied with a cup of coffee or orange juice.
      </p>
    </figure>
    <figure>
      <img src="assets/appetizers4.jpg" alt="">
      <h2>Fried or Cooked Yucca</h2>
      <p>
        Yuca con chicharrón refers to one of the popular foods in Honduras, as well
        as El Salvador, which is made of yuca (cassava) served with raw cabbage with lemon,
        then topped with chicharrones, tomato hot sauce and mojo, made with a mixture of oil,
        garlic, onion, spices such as oregano and bitter orange or lime juice.
      </p>
    </figure>
    <figure>
      <img src="assets/appetizers5.jpg" alt="">
      <h2>Nachos</h2>
      <p>
        Nachos are popular from Honduras to New York, they are special in these days of
        quarantine, when we spend time in front of the television with our family. For
        our topping, The most popular are beans accompanied with guacamole.
      </p>
    </figure>
  </div>

</div>

