
<style>
  body{
    background: url('assets/bg-patt.png') repeat scroll 0 0 rgba(0,0,0,0.8);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #appetizer{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 10px 5px 10px rgba(0,0,0,.5);
  }

  section{
    position: relative;
    max-width: 1440px;
    width: 100%;
    height: 1100px;
    margin: 0 auto;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  #block1{
    background-image: url('assets/appetizers1.jpg');
  }

  #block2{
    background-image: url('assets/restaurantes.png');
  }

  #block3{
    background-image: url('assets/restaurantes4.jpg');
  }

  #block4{
    background-image: url('assets/gastronomia7.jpg');
  }

  h1{
    width: 100%;
    margin-top: 100px;
    background-color: #02223a;
    color: rgba(255,255,255,.5);
    font-size: 5rem;
    font-weight: 800;
    opacity: 0.76;
    text-align: center;
    text-shadow: 1px 1px 1px #666;
    text-transform: uppercase;
    display: block;
  }

  h2{
    margin-top: 80px;
    color: #fff;
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
    text-shadow: 1px 1px 1px #ccc;
    text-transform: uppercase;
    opacity: 0.85;
  }

  #logo{
    width: 100px;
    margin: 120px auto 0;
    opacity: 0.8;
    display: block;
  }

  #block2 p {
    max-width: 900px;
    margin: 50px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 1.2em;
  }
</style>

<body>
  <div id="appetizer">
    <section id="block1">
      <img id="logo" src="assets/Artboard.png" alt="">
      <h1>ABOUT US</h1>
    </section>
    <section id="block2">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eaque officiis ullam ab,
        suscipit facilis inventore, cumque asperiores explicabo maxime voluptas veniam
        accusamus commodi et incidunt esse fugit totam beatae. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Ipsa perspiciatis vel, soluta earum voluptatibus fugiat
        deserunt molestias accusamus odio nisi, cum autem nobis. Fuga nihil harum nostrum eius?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eaque officiis ullam ab,
        suscipit facilis inventore, cumque asperiores explicabo maxime voluptas veniam
        accusamus commodi et incidunt esse fugit totam beatae. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Ipsa perspiciatis vel, soluta earum voluptatibus fugiat
        deserunt molestias accusamus odio nisi, cum autem nobis. Fuga nihil harum nostrum eius?
        Id, aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eaque officiis ullam ab,
        suscipit facilis inventore, cumque asperiores explicabo maxime voluptas veniam
        accusamus commodi et incidunt esse fugit totam beatae. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Ipsa perspiciatis vel, soluta earum voluptatibus fugiat
        deserunt molestias accusamus odio nisi, cum autem nobis. Fuga nihil harum nostrum eius?
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eaque officiis ullam ab,
        suscipit facilis inventore, cumque asperiores explicabo maxime voluptas veniam
        accusamus commodi et incidunt esse fugit totam beatae. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Ipsa perspiciatis vel, soluta earum voluptatibus fugiat
        deserunt molestias accusamus odio nisi, cum autem nobis. Fuga nihil harum nostrum eius?
        Id, aliquid.
      </p>
    </section>
    <section id="block3">
      <h2>Website out of order</h2>
    </section>
    <section id="block4">
      <h2>Website under construction</h2>
    </section>
  </div>
</body>


